body{
    margin: 25px 0;
    width: 100%;
}

.header {
    color: Lavender;
    text-align: center;
}
h1{
    color: #581845;
    text-align: center;
    font-size: 4.5em;
    padding: 0.5px;

}
h2{
    color: #635068;
}
h3{
    opacity: 80%;
    color: #76456D;
    text-align: center;
}

input{
    margin: 8px 0;
    padding: 12px 20px;
    padding-left: 12px;
    min-width: 200px;
}

input[type=submit] {
    background-color: #B890B0;
    color: #E4DAE3;
}

.result-table{
    margin: 25px 0;
    min-width: 400px;
    width: 100%;
    font-size: 1em;
}
.result-table tr{
    border-bottom: 0.5px; 0.5px solid white;
    background-color: #f3f3f3
}

.result-table td{
    text-align: left;
    padding: 3px 15px;
 }